body {
    background-color: black;
}
.topLeftSticky {
    position: fixed;
    top: 0;
    left: 0;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
    text-shadow: 0px 0px 2px whitesmoke;
    writing-mode: vertical-lr;
}
.header {
    text-align: center;
    background-color: blanchedalmond;
    color: black;
}
.item1 {
    background: lightblue;
    /* float: left; */
    width: 100%;
    font-size: 50%;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.item2 {
    background: magenta;
    width: 100%;
    font-size: 45%;
    /* margin-left: 45%; */
    word-wrap: break-word;
    /* padding-left: 10%; */
    text-justify: auto;
    display: flex;
    flex-direction: row;
}
.item3 {
    background: darkkhaki;
}
.item4 {
    background: hotpink;
}
.item5 {
    background: darkorange;
    grid-area: footer;
}
.container {
    font-size: 40px;
    min-height: 300px;
    width: 100%;
    background: brown;
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-gap: 10px;
    /* grid-template-areas: 
                         "advert content content"
                         "advert content content"
                         "footer footer footer"; */
}
.h2Headers {
    font-size: 25px;
    text-align: center;
    padding: 10px;
}